<h1>Registered Remote Controls</h1>

<% if @pool.remote_controls.empty? %>
  <p>
    No available remote controls, please launch 
    some with ....
  </p>
<% else %>
<table>
  <tr>
    <th>Host</th><th>Port</th><th>Environments</th><th>Free ?</th><th>UID</th>
  </tr>
  <% @pool.remote_controls.each do |rc| %>
    <tr class="<%= rc.free? ? 'free' : 'reserved' %>">
      <td><%= rc.host %></td>
      <td><%= rc.port %></td>
      <td><%= rc.environments.join(", ") %></td>
      <td><%= rc.free? %></td>
      <td><%= rc.uid %></td>
    </tr>
  <% end %>
</table>

<% end %>

